.trailer {
  margin-left: 20px;
  padding-bottom: 15px;
  .btn {
    background-color: rgb(226, 226, 226);
    transition: background-color 0.2s linear;
    &:hover {
      transform: scale(1.01);
      background-color: rgb(184, 208, 209);
    }
  }
}